body {
  font-family: "Open Sans";
  padding-bottom: 24px;

  background-image: linear-gradient(
    to bottom,
    #fcfcfd,
    #fafafc,
    #f7f8fb,
    #f4f7f9,
    #f1f5f8
  );
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
